:root {
  --charcoal: #264653ff;
  --persian-green: #2a9d8fff;
  --maize-crayola: #e9c46aff;
  --sandy-brown: #f4a261ff;
  --burnt-sienna: #e76f51ff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
